body {
  background: #f1eacd;
}

h1,
p {
  text-align: center;
  display: block;
}

.croissant-picture {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(25, 112, 25);
}
